.navbar-home-logada {
    width: 100%;
    height: 12vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-home-logada-container {
    display: flex;
    width: 90%;
    height: 12vh;
    background-color: white;
    align-items: center;
    justify-content: space-between;
}

.menu-icon, .home-icon-logado {
    height: 2.5rem;
    margin: 0;
    cursor: pointer;
}

.form-navbar, .form-input-navbar {
    padding: 0;
    margin: 0;
}

.form-input-navbar {
    width: 40vw;
    height: 2.5rem;
    border-radius: 1rem;
    border: .1rem solid grey;
    outline: none;
    font-size: 1rem;
    padding: 0 .5rem;
    background-image: url(../img/lupa.svg);
    background-repeat: no-repeat;
    background-size: 4.5%;
    background-position: 97% center;
}

.section-home {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-home-container {
    width: 55%;
    display: flex;
    flex-direction: column;
}

.section-home-container-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-home {
    width: 15%;
    height: 15%;
}

.section-home-container-titles {
    text-align: center;
    line-height: 1.5rem;
}

.home-title {
    font-size: 35px;
    font-weight: bolder;
    margin: .5rem 0;
}

.home-subtitle {
    font-size: 25px;
    margin: .5rem 0;
    font-weight: lighter;
}

.titulo-categorias {
    font-size: 25px;
    text-align: center;
    font-weight: lighter;
    margin-top: 1rem;
    margin-bottom: 0;
}

.section-home-container-tipo-item {
    box-sizing: border-box;
    width: 50%;
    height: 5.5rem;
    padding: 1rem;
    margin: 2% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 1px solid #d1cdcd;
    background-color: #eeeae9;
}

.tipo-item-title {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 5%;
}

.tipo-item-img-geladeira {
    width: 30%;
    height: 4.5rem;
}

.section-home-container-categorias {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.categoria-card {
    width: 28%;
    height: 8rem;
    margin: 1% auto;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 5px 0px #000;
    background-color: #fff;
}

.card-img {
    width: 50%;
    height: 60%;
}

.categoria-card-titulo {
    font-weight: lighter;
    font-size: 1.2rem;
    margin: 0;
}

.btn-categoria {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem;
    height: 3.5rem;
    background-color: #5FBAA7;
    color: white;
    font-size: 1rem;
    border-radius: .3rem;
    text-align: center;
    border: none;
    text-transform: uppercase;
    margin: 0 auto;
}

@media only screen and (min-width: 361px) and (max-width: 910px) {
    html, body, .section-home {
        height: auto;
    }
    body {
        background-image: url(../img/FundoMobile.jpg);
    }
    body::before {
        height: 0;
    }
    
    .section-home-container {
        width: 100%;
        height: 100%;
    }
    .logo-home {
        width:  20%;
        height: 100%;
    }
    .section-home-container-content {
        margin-top: 5%;
        flex-direction: row;
    }
    .home-slogan {
        width: 80%;
        word-break: break-word;
        text-align: center;
    }
    .titulo-categorias {
        margin: 1.5rem
    }
    .categoria-card-titulo {
        font-size: 1rem;
    }
    .section-home-container-tipo-item {
        width: 70%;
    }
    .tipo-item-title {
        font-size: 1.5rem;
    }
    .btn-home {
        width: 40%;
        height: 3rem;
        font-size: .9rem;
        line-height: 3rem;
    }
    .section-home-container-links {
        justify-content: space-around;
    }
}

@media only screen and (min-width: 0px) and (max-width: 360px) {
    html, body, .section-home {
        height: auto;
    }
    body {
        background-image: url(../img/FundoMobile.jpg);
    }
    body::before {
        height: 0;
    }
    .navbar-home-logada-container {
        background-color: inherit;
        height: initial;
    }
    .navbar-home-logada-container {
        height: 10%;
    }
    .menu-icon, .home-icon-logado {
        height: 1.8rem;
        margin: 0;
    }
    .form-input-navbar {
        width: 55vw;
        height: 5.5vh;
        background: none;
        font-size: .9rem;
        text-align: center;
    }
    .section-home-container {
        width: 100%;
        height: 100%;
    }
    .logo-home {
        width: 20%;
        height: auto;
    }
    .home-title {
        margin: 0;
        font-size: 1.2rem;
    }
    .home-subtitle {
        font-size: 1.1rem;
    }
    .home-slogan {
        width: 80%;
        font-size: 35px;
        word-break: break-word;
        text-align: center;
        margin: 1.5rem 0;
    }
    .titulo-categorias {
        margin-bottom: 1.5rem;
        font-size: 1rem;
    }
    .section-home-container-tipo-item {
        margin-left: 5%;
        width: 90%;
    }
    .section-home {
        margin: 3% auto;
    }
    .tipo-item-title {
        font-size: 1.2rem;
        margin-left: 2%;
    }
    .categoria-card {
        width: 45%;
        height: 7rem;
        margin: 1%;
    }
    .btn-categoria {
        width: 40%;
        height: 2.5rem;
        font-size: .9rem;
        line-height: 3rem;
    }
    .section-home-container-links {
        justify-content: space-around;
    }
    .section-home-container-titles {
        text-align: center;
        width: 80%;
        height: 30%;
    }
    .section-home-container-content {
        flex-direction: column;
    }
}