.navbar-menu{
    position: absolute;
    right: -2000px;
    width: 25%;
    height: 100%;
    background-color: white;
    top: 0;
    transition: all .5s ease-in-out;
}

.navbar-menu-title{
    font-size: 1.4rem;
    border-top: 1px solid #5FBAA7;
    border-bottom: 1px solid #5FBAA7;
    padding: .5rem 0;
    display: flex;
    justify-content: center;
}

.navbar-menu-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    clear: both;
}

.navbar-menu-item{
    height: 9vh;
    width: 95%;
    margin: .2rem 0;
}

.navbar-menu-ancor{
    width: 100%;
    height: 100%;
    background-color: lightgrey;
    border-radius: .3rem;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-menu-item-img{
    height: 90%;
    width: 20%;
    margin-right: .4rem;
    margin-left: .2rem;
}

.navbar-menu-close{
    height: 5vh;
    width: 5vw;
    float: right;
    margin-bottom: .7rem;
    cursor: pointer;
}

/* @keyframes slide {
    0% {
        transform: translateX(300px);
    }
    100% {
        transform: translateX(0px);
    }
} */

@media only screen and (min-width: 0) and (max-width: 700px){

    .navbar-menu{
        width: 100%;
    }

    .navbar-menu-item-img{
        width: 10%;
    }

}

@media only screen and (min-width: 0) and (max-width: 350px){
    .navbar-menu-item-img{
        width: 20%;
    }
}

@media only screen and (min-width: 0) and (max-width: 334px){

    .btn-home{
        width: 7rem ;
        justify-content: space-around;
        font-size: .7rem;
    }

    .home-title{
        font-size: 1.7rem;
    }

    .home-subtitle{
        font-size: 1.5rem;
    }

    .home-slogan{
        text-align: center;
        font-size: 1.3rem;
    }

    
}